:host {
  height: 100vh;

  width: var(--sidenav-collapsed-width);

  &.is-expanded {
    width: var(--sidenav-width);
  }

  box-sizing: border-box;

  // makes the sidenav stay in place, even when content is scrollable
  position: sticky;
  top: 0;

  background-color: rgb(237, 241, 243);

  // make width transition smooth when not resizing manually
  &:not(.resizing) {
    transition: width 0.6s cubic-bezier(0.02, 0.68, 0.63, 0.98);
  }
}

.sidenav-body-container {
  overflow-y: auto;

  height: 100%;

  padding: 16px;

  box-sizing: border-box;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.sidenav-body {
  width: 100%;

  overflow-x: hidden;

  &.slide-in-from-left {
    animation: slideInFromLeft var(--sidenav-transition-duration) ease-out;
  }

  &.slide-in-from-right {
    animation: slideInFromRight var(--sidenav-transition-duration) ease-out;
  }
}

.resize-handle {
  height: 100%;

  background-color: rgb(165, 165, 165);
  width: 2px;

  position: absolute;
  top: 0;
  right: 0;

  cursor: ew-resize;

  // prevent text selection while dragging
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  transition: background-color 0.2s ease-out;

  &:hover {
    width: 3px;
    background-color: rgb(93, 159, 235);
  }

  // buffer to make it easier to grab the resize handle
  &::after {
    content: "";
    display: block;

    height: 100%;

    width: 24px;

    position: absolute;
    right: -12px;
    z-index: 1;
  }

  // buffer to avoid flickering cursor when resizing
  &.resizing::after {
    width: 100px;
    right: calc(-100px / 2);
  }
}

.toggle-button {
  display: flex;

  align-items: center;
  justify-content: center;

  $size: 25px;
  width: $size;
  height: $size;
  margin: 0;
  padding: 0;

  position: absolute;
  top: 48px;
  // the -2px is to get the alignment just right *chefs kiss*
  right: calc($size / -2) - 2px;

  border: 1px solid gray;
  border-radius: 50%;

  background-color: white;

  cursor: pointer;

  z-index: 2;

  &:hover {
    border: 2px solid rgb(36, 82, 231);
  }

  &.is-flipped {
    transform: rotate(-180deg);
  }

  mat-icon {
    font-size: 1.5em;

    width: fit-content;
    height: fit-content;
  }
}
