<div class="sidenav-body-container">
  <h1>Sidenav</h1>

  <app-sidenav-link routerLink="/home">
    <mat-icon icon>home</mat-icon>

    Home
  </app-sidenav-link>

  <app-sidenav-link routerLink="/profile">
    <mat-icon icon>account_circle</mat-icon>

    Profile
  </app-sidenav-link>

  <app-sidenav-link routerLink="screen-1">
    <mat-icon icon>screen_share</mat-icon>

    Screen 1
  </app-sidenav-link>

  <app-sidenav-link routerLink="screen-2">
    <mat-icon icon>screen_share</mat-icon>

    Screen 2
  </app-sidenav-link>

  <app-sidenav-link routerLink="/settings">
    <mat-icon icon>settings</mat-icon>

    Settings
  </app-sidenav-link>
</div>

<!-- Resize Handle -->
<div
  class="resize-handle"
  [class.resizing]="resizingEvent.isResizing"
  (mousedown)="startResizing($event)"
></div>
